<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item" style="margin-right: 2px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload">
            Upload Terms
        </button>
    </li>
    <li class="nav-item" style="margin-right: 2px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#defineLanguage">
            Define Language
        </button>
    </li>
    <li class="nav-item" style="margin-right: 2px">
        <button type="button" onclick="printDiv('content')" class="btn btn-primary">
            Print
        </button>
    </li>
    <li class="nav-item" style="margin-right: 2px">
        <button type="button" id="saveButton" class="btn btn-primary">
            Save
        </button>
    </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
    <form class="form-group" action="/upload" method="post" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadLabel">Select File to Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 20px">
                        <label for="selectedLanguage">Select Language</label>
                        <select id="selectedLanguage" name="selectedLanguage">
                            <option value="RUSSIAN" selected>Russian</option>
                            <option value="ENGLISH">English</option>
                        </select>
                    </div>
                    <input type="file" name="fileToUpload" id="fileToUpload" class="form-control-file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Upload" name="submit" class="btn btn-outline-primary">
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="defineLanguage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form class="form-group" action="/define" method="post" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select File to Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" name="fileToDefine" id="fileToDefine" class="form-control-file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Upload" name="submit" class="btn btn-outline-primary">
                </div>
            </div>
        </div>
    </form>
</div>


<div style="margin-top: 30px; margin-left: 200px; margin-right: 200px;" id="content">
    <div>
        <h3 th:text="${document.language}"></h3>
    </div>
    <br>
    <div th:text="${document.text}"/>
</div>
</body>

<script>
    a = document.createElement("a")
    a.setAttribute("href", "data:text/plain," + content.innerHTML)
    a.setAttribute("download", "content.txt")
    let saveButton = document.getElementById("saveButton");
    saveButton.onclick = function(){ a.click() }

    function printDiv(divName) {
        let printContents = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
</html>
